<h1>Questions</h1>

<%= link_to "New question", new_question_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
    <tr>
      <td><%= link_to "#{question.title}", question %></td>
    </tr>
    <% end %>
  </tbody>
</table>
