<h1>Question Details</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<table>

  <tbody>
    <tr>
      <td><%= @question.title %></td>
    </tr>
    <tr>
      <td><%= @question.description %></td>
    </tr>
  </tbody>
</table>
